
@import "theme";

ui-view {
    width: 100%;
}

.app {
    background: $dark;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    padding: 3rem 20vw;    
    .main {
        // background: blue;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        align-content: stretch;
    }
}

.navbar {
    * {
        font-family: $fmain;
        color: white;
    }
    .navbar-wrapper {
        .navbar-navbar {
            background: black;
            height: 100vh;
            width: 15rem;
            position: fixed;
            top: 0;
            left: -13.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: left .8s;
            transition-delay: .1s;
            .navbar-button {

            }
        }
    }
    .navbar-shadow {
        background: linear-gradient(90deg, black, $faded);
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 1rem;
        transition: left .8s, width .4s;
        transition-delay: .1s;
    }
    .navbar-wrapper:hover {
        .navbar-navbar {
            // background: white;
            left: 0;
        }
        + .navbar-shadow {
            // background: linear-gradient(90deg, white, $faded);
            left: 15rem;
            width: 100vw;
        }
    }
}

/**MAIN CLASSES**/

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    background: $red9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;    
    // border-radius: 0.75rem;
}

.box {
    width: calc(100% - 4rem);
    padding: 0.75rem 2rem;
    background: $dark;
    color: $white9;
    font-family: $fmain;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: $f3xlarge;
    border-radius: 2rem;
    color: $white9;
}

.subtitle {
    font-size: $fxlarge;
    color: $white7;
    border-radius: 1.75rem;
}

.text {
    font-size: $fxsmall;
    font-family: $ftext;
    color: $white6;
    // background: blue;
}

.w {
    @extend .box ;
    // color: $white8;
}

.title-wrapper {
    @extend .wrapper ;
    // background: $red9;
    .w {
        @extend .box ;
        @extend .title ;
    }

}

.subtitle-wrapper {
    @extend .wrapper ;
    // width: calc(100% - 2rem);
    // background: $red9;
    .w {
        @extend .box ;
        @extend .subtitle ;
    }
}

.text-wrapper {
    @extend .wrapper ;
    .w {
        @extend .box ;
        font-size: $fxsmall;
        color: $white6;
    }
}

.section-wrapper {
    @extend .wrapper ;
    .w {
        @extend .box ;
    }
}

.post-tile-wrapper {
    @extend .wrapper ;
    .w {
        @extend .box ;
    }
}

.comment-wrapper {
    @extend .wrapper ;
    .w {
        @extend .box ;
        color: $white6;
        border-radius: 2rem;
    }
}
