<div class="home" ng-controller="homeController">
    <div class="title-wrapper">
        <div class="w">Welcome!</div>
    </div>
    <div class="subtitle-wrapper">
        <div class="w">please select a section</div>
    </div>
    <div class="section-wrapper">
        <div class="w">
            {{test}}
            <div class="section-box" ng-repeat="section in sections">
                <div class="title">
                    <a ui-sref="section({name:'{{section}}'})">{{section}}</a>
                </div>
            </div>
        </div>
    </div>
</div>