<nav class="navbar">
    <div class="navbar-wrapper">
        <div class="navbar-navbar">
            <a class="navbar-button" href="http://45.55.132.212/auth">login</a>
            <a class="navbar-button" ui-sref="home">home</a>
            <a class="navbar-button" ui-sref="section">section</a>
            <a class="navbar-button" ui-sref="post">post</a>
            <a class="navbar-button" ui-sref="favorites">favorites</a>
            <a class="navbar-button" ui-sref="admin">admin</a>
            <a class="navbar-button" ui-sref="create">create</a>
            <a class="navbar-button" ui-sref="edit">edit</a>
            <a class="navbar-button" ui-sref="users">users</a>
        </div>
    </div>
    <div class="navbar-shadow"></div>
</nav>